*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    font-family: "Manrope";
    background: #6e7174;
    padding: 50px;
}

.container{
    width: 1440px;
    height: 800px;
    background: #ECF2F8;
    margin: 0 auto;
    align-items: center;
    padding: 260px 355px;
}